* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 255, 242, 0.801);
}
.container {
  width: 90vw;
  background: linear-gradient(45deg, #4c63e3, #00569a);
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 200px;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.display-time {
  font-size: 4rem;
}
button {
  padding: 10px;
  background: #fff7d6;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 0 10px;
}
button:nth-child(2) {
  height: 60px;
  width: 60px;
  font-size: 1.5rem;
}
